html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
	body
		a(href='/') Back
		h1 Create new user
		form(action='/addNew' method='post')
			label First Name:
			input(name='firstname')
			br
			label Last Name:
			input(name='lastname')
			br
			label Email:
			input(name='email')
			input(type='submit' value='create user')
